annotated-types
anyio
certifi
click
dnspython
email_validator
fastapi
fastapi-cli
greenlet
gunicorn
h11
httpcore
httptools
httpx
idna
inflect
Jinja2
mariadb
markdown-it-py
MarkupSafe
mdurl
more-itertools
orjson
packaging
pyasynchat
pyasyncore
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
rich
setuptools
shellingham
sniffio
sqlacodegen-v2
SQLAlchemy
starlette
typeguard
typer
typing_extensions
ujson
uvicorn
uvloop
watchfiles
websockets
